<!DOCTYPE html>

<head>
    <div style="text-align:center; background-color:azure; padding:10px; border-style:double;">
        <p style="font-size: 24px">
            Welcome to The Tournament Manager
        </p>
        <p>
        <a style="font-size: 24px" href="/">
            Home
        </a>
        <a style="font-size: 24px" href="/players">
            Players
        </a>
        <a style="font-size: 24px" href="/matches">
            Matches
        </a>
        <a style="font-size: 24px" href="/tournaments">
            Tournaments
        </a>
        </p>
    </div>
</head>

<body>
    {{{body}}}
</body>